  <!-- rgkjwlrwrneebjnjogrjetwewbewibu -->
<div id="image">
  
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-8">
        <div class="card shadow-lg p-5">
          <h2 class="text-center mb-4">Data Entry Form</h2>
          <form [formGroup]="logbook">
            <div class="form-group">
              <label for="trainers"><strong>Trainers</strong></label>
              <div class="input-group">
                <input type="text" class="form-control" id="trainers" placeholder="Enter Trainers" readonly>
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal">Select  Trainer</button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="trainees"><strong>Trainees</strong></label>
              <div class="input-group">
                <input type="text" class="form-control" id="traineeForm" placeholder="Add trainee" readonly>
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal1">Select Trainee</button>
                </div>
              </div>
            </div>
            <!-- <div class="form-group">
              <label for="trainees">Trainees</label>
              <input type="text" class="form-control" id="trainees" placeholder="Enter Trainee's Name">
            </div> -->
            <div class="form-group">
              <!-- <select class="form-control" id="uin"> -->
                <label for="uin"><strong>UIN</strong></label>
                <div *ngFor="let item of drones" id="uin">
                  <input type="checkbox" (change)="updateValue($event)" [value]=item.uin>{{item.uin}}
                </div>
              
                <!-- <option *ngFor="let item of drones" value="item.name">{{item.uin}}</option> -->
              <!-- </select> -->
            </div>
            <div class="form-group">
              <label for="placeofop"><strong>Place of Operation</strong></label>
              <input type="text" class="form-control" formControlName="Place_of_Operation" id="placeofop" placeholder="Enter Place of Operation">
            </div>
            <div class="form-group">
              <label for="startday1"><strong>Start-Date </strong></label>
              <input type="number" class="form-control" formControlName="DATE" id="startday1">
            </div>
            <div class="form-group">
              <label for="starttime1"><strong>Start-Time (Day 1)</strong></label>
              <input *ngFor="let item of calcTimeSlots(); let i=index" (change)="timeSlot1Value($event, i)" type="time" class="form-control" id="starttime1">
            </div>
            <div class="form-group">
              <label for="starttime2"><strong>Start-Time (Day-2)</strong></label>
              <input *ngFor="let item of calcTimeSlots(); let i=index" (change)="timeSlot2Value($event, i)" type="time" class="form-control" id="starttime2">
            </div>
            <div class="form-group">
              <label for="examiner"><strong>Examiner</strong></label>
              <select class="form-control" id="examiner" (change)="updateExaminer()">
                <option selected disabled>--Select Examiner--</option>
                <option *ngFor="let item of trainers" [value]=item.name>{{item.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="examtime"><strong>Exam - Time</strong></label>
              <input type="time" class="form-control" id="examtime" (change)="updateExamTime()" id="examtime">
            </div>
          
            <div class="form-group">
              <label for="examuin"><strong>UIN</strong></label>
              <select class="form-control" id="examuin" (change)="updateExamUIN()">
                <option selected disabled>--Select UIN--</option>
                <option *ngFor="let item of drones" [value]=item.uin>{{item.uin}}</option>
              </select>
            </div>

            <!-- Trainers modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select Trainers</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-container" *ngFor="let item of trainers">
                    <!-- <label class="checkbox-inline"> -->
                      <input (change)="onChange($event)" type="checkbox" name="trainers" value="{{item.name}}" > {{ item.name }}
                    <!-- </label> -->
                  </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="updateTrainerInput()">Add Trainers</button>
                </div>
              </div>
            </div>
            </div>


            <!-- trainee modal -->
            <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" >Add Trainers</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-container input-group">
                    <div class="input-group">
                      <input type="text" class="form-control" id="trainees" placeholder="Enter Trainee's Name">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button" (click)="newTrainee()">Add Trainee</button>
                      </div>
                    </div>
                    <label for="list">Added trainees:</label>
                    <ng-container *ngFor="let item of traineeList">
                      <br>
                      <ul id="list" value=item>{{item}} <button type="button" class="close" (click)="removeTrainee(item)"><span>&times;</span></button></ul>
                    </ng-container>                                    
                  </div>                 
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateTraineeInput()">Submit</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-center">
              <button type="submit" id="log-submit" (click)="logbook_submit()" class="btn btn-primary btn-block mt-4">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>