<div class="container">
  <div class="row justify-content-center mt-2 ">
    <div class="col-md-12">
      <div class="card shadow-lg p-5 mb-5 mt-5">
        <h2>Welcome</h2> 
        <!-- <h6 class="alert alert-success" role="alert"> {{message}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>                   -->
          
        <form [formGroup]="logbook">
          <p>
            <label for="trainername" style="color:rgb(14, 15, 15);">Trainer Name:</label>
            <input type="text" id="trainer" name="trainer" formControlName="trainer" class="form-control">
          </p>
          
          <table class="table table-bordered">
            <!-- <tr>
              <th colspan="1">
                Add Trainee:
                <input id="traineeList" style="width: 70%;" type="text" readonly class="form-control">
              </th>
              <th width="150px"><button type="button" (click)="addTrainee()" class="btn btn-primary">Add More</button></th>
            </tr> -->

            <!-- <tr *ngFor="let trainy of trainees().controls; let i=index" [formGroupName]="i"> -->
            <tr>  
              <td>Add Trainee:
                <input id="newTrainee" type="text" formControlName="trainee" class="form-control" value="">
                <ul id="list"></ul>
              </td>                
              <td>
                <!-- <button (click)="removeTrainee(i)" class="btn btn-danger">Remove</button> -->
                <button (click)="newTrainee()" class="btn btn-primary">Add</button>
              </td>
            </tr>

            <tr>
              <th>Drone:</th>
              <th width="150px">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  Add
                </button>              
              </th>
            </tr> 
          </table>
                
          <label class="control-label">Start date <span style="font-style: italic;"> - required</span></label>
          <input formControlName="startDate"  type="date" class="form-control" placeholder="mm/dd/yyyy">        

          <label class="control-label">End date <span style="font-style: italic;"> - required</span></label>
          <input formControlName="endDate" type="date" class="form-control" placeholder="mm/dd/yyyy" />
  
          <label class="control-label">Duration <span style="font-style: italic;"> - required</span></label>
          <input formControlName="duration" type="date" class="form-control" placeholder="mm/dd/yyyy" />
        
          <br>
           
          <button class="btn btn-outline-primary btn-block" (click)="logbook_submit()">
            Submit &nbsp;&nbsp;<a routerLink="/dashboard"></a>
          </button>
  
        </form>
  
          <br />
          <!-- {{this.logbook.value | json}} -->
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Drone Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <form [formGroup]="droneInfo">
      <div class="modal-body">
        <div class="mb-3">
          <label for="name-input" class="form-label">UIN_NO:</label>
          <select class="form-control" id="class-input" formControlName="uinno">
            <option value="UA0003X" selected>UA0003X</option>
            <option value="UA0003W">UA0003W</option>
            <option value="UA000GF">UA000GF</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="class-input" class="form-label">class:</label>
          <select class="form-control" id="class-input" formControlName="class">
            <option value="nano" selected>Nano</option>
            <option value="micro">Micro</option>
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="category-input" class="form-label">Category:</label>
          <select class="form-control" id="category-input" formControlName="category">
            <option value="rotor" selected>Rotor</option>
            <option value="aeroplane">Aeroplane</option>
            <option value="hybrid">Hybrid</option>
            <option value="other">Other</option>
          </select>
        </div>
      </div>
    </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" (click)="getDroneInfo()" data-dismiss="modal">Add Drone Info</button>
    </div>  
  </div>
</div>
  </div>