<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h4><strong>Address</strong></h4>
          <p>Bavdhan<br>Pune, Maharashtra 411021</p>
        </div>
        <br>
        <div class="col-md-4">
          <h4><strong>About</strong></h4>
          <p>Pune, Bavdhan<br>Pin code 411046, India</p>
        </div>
        <div class="col-md-5">
          <h4><strong>Connect with us:-</strong></h4>
          <ul class="social-icons">
            <li><a href="https://www.linkedin.com/company/droneacharya/" class="fa fa-linkedin"></a></li>
            <li><a href="https://instagram.com/droneacharya_official?igshid=YmMyMTA2M2Y=" class="fa fa-instagram"></a></li>
            <li><a href="https://twitter.com/DroneAcharyaIN?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a></li>
            <li><a href="https://www.facebook.com/droneacharyauav/" class="fa fa-facebook"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>